<div class="filterBar">
    <div class="filterButton" [ngClass]="{activeFilter: category==='MCU'}" (click)="category='MCU'; watchlist=null; viewOrder=null;">MCU</div>
    <div class="filterButton" [ngClass]="{activeFilter: category==='X-Men'}" (click)="category='X-Men'; watchlist=null; viewOrder=null;">X-Men</div>
</div>

<div *ngIf="category" class="filterBar">
    <div class="orderButton" [ngClass]="{activeOrder: viewOrder==='Release'}" (click)="setWatchlist('release')">Release Order</div>
    <div class="orderButton"  [ngClass]="{activeOrder: viewOrder==='Chronological'}" *ngIf="category=='MCU'" (click)="setWatchlist('MC')">Chronological</div>
    <div class="orderButton"  [ngClass]="{activeOrder: viewOrder==='Chronological with timeline'}" *ngIf="category=='X-Men'" (click)="setWatchlist('XT')">Chronological with timeline</div>
    <div class="orderButton"  [ngClass]="{activeOrder: viewOrder==='Chronological without timeline'}" *ngIf="category=='X-Men'" (click)="setWatchlist('X')">Chronological without timeline</div>
</div>
<div class="list">
    <div class="movie" [id]="movie.name" *ngFor="let movie of watchlist; let i = index;">
        <div class="title">
            {{i+1}}. {{movie.name}}
        </div>
    </div>
</div>