<header>
  <div class="container">
    <a href='#' routerLinkActive="router-link-active" routerLink="/landing" class="logo">MCM Guide</a>
    <nav>
      <ul>
        <li><a href="#" routerLinkActive="router-link-active" routerLink="/list">Movies</a></li>
        <li><a href="#" routerLinkActive="router-link-active" routerLink="/watchLists">Watch Lists</a></li>
        <li><a href="#" routerLinkActive="router-link-active" routerLink="/character-details">Character Info</a></li>
        <li><a href="#" routerLinkActive="router-link-active" routerLink="/bingeCalculator">Binge Calculator</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>
  
</body>
<div class="container">
  <router-outlet></router-outlet>
</div>