<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<header>
  <div class="container">
    <a href='#' class="logo">MCM Guide</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/list">Movies</a></li>
        <li><a href="#" routerLink="/watchLists">Watch Lists</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>
  
</body>
<div class="container">
  <router-outlet></router-outlet>
</div>