<div class="searchBar">
Search: <input type="text" name="search" [(ngModel)]="search">
</div>

<div class="categoryButtons">
    <div class="category-btn" [ngClass]="{'active':option.title==category}" *ngFor="let option of categories" (click)="category=option.title">
        {{option.title}}
    </div>
</div>

<div class="overall-movies">
    <div class="movieDetails" 
    *ngFor="let movie of movies" 
    [ngClass]="{'disabledDetails':((search != null && !movie.name.toLowerCase().includes(search.toLowerCase())) || (category!='All' && movie.category!=category))}"
    [ngStyle]="{'background-color': movie.category=='MCU'? 'rgb(202,60,40)' : (movie.category=='X-Men'?'rgb(87,158,179)':'rgb(189,186,158)')}" 
    [id]="movie.name"
    (click)="movie.details=!movie.details">
        <div class="name">
            {{movie.name}}
        </div>
        <div *ngIf="movie.details==true">
            <p class="year">Release Year: {{movie.year}}</p>
        </div>
    </div>
</div>