.category{
    display:inline-flex;

}

.movie{
    display: block;
    width: 300px;
    height:auto;
    background: gray;
    margin-right: 30px;
    text-align: center;
    padding-bottom: 10px;
}

.name{
    padding-top: 10px;
    height: 10%;
}

img{
    height: 83%;
    width: 70%;
}