.category{
    display:inline-flex;

}

.movie{
    display: block;
    width: 300px;
    height:auto;
    background: #C5CFD1;
    margin-right: 30px;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 2px;
}

.name{
    padding-top: 10px;
    height: 10%;
    font-size: x-large;
}

img{
    height: 83%;
    width: 70%;
}