@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&display=swap');

$primary: rgba(29, 119, 179, 0.815);
$links:   rgba(255, 255, 255, 0.795);
$mainBacking: rgb(158, 182, 196);

body{
    background-color: $mainBacking;
    margin:0;
    font-family: 'Marvel','sans-serif';
    font-size: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: $primary;
    padding: 1em 0;

    a{
        color: $links;
        text-decoration: none;
    }

    a.logo{
        font-weight: bold;
    }

    nav{
        float: right;

        ul{
            list-style-type: none;
            margin: 0;
            display: flex;

            li a{
                padding: 1em;
                &:hover{
                    background: darken($primary,10%);
                }
            }
        }
    }
}
h1{margin-top: 2em;}