@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&display=swap');

$primary: #1D77B3;
$links:   white;
$mainBacking: #9EB6C4;

body{
    background-color: $mainBacking;
    margin:0;
    font-family: 'Marvel',Arial;
    font-size: 20px;
}

.container{
    width: 100%;
    margin: 0% !important;
}

header{
   // background-color: $primary;
    //padding: 1em 0;

    .container{
        width: 100%;
    }

    a{
        color: $links;
        text-decoration: none;
    }

    a.logo{
        font-weight: bold;
        background: #1D77B3;
        padding: 15px;
        padding-right: 50px;
        padding-left: 50px;
        margin-top: 0%;
        border: 1px solid black;
        box-shadow: 3px 2px black;
    }

    nav{
        float: right;
        justify-content: end;
        background-color: #1D77B3;
        padding: 15px;
        border: 1px solid black;
        box-shadow: 3px 2px;
        ul{
            list-style-type: none;
            margin: 0;
            display: flex;

            li a{
                margin-right: 2em;
                height: fit-content;
                &:hover{
                    //background: darken($primary,10%);
                    border-bottom: 5px solid white;
                }
            }
        }
    }
    
}
h1{margin-top: 2em;}