.searchBar{
    display:inline-flex;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    padding-top:10px;
    padding-bottom: 10px;
    align-content: center;
    input{
        white-space: nowrap;
        width:90%;
        height:auto;
        font-size: large;
        background: lightgray;
    }
    button{
        width: 200px;
        background: rgba(29, 119, 179, 0.815);
        color:rgba(255, 255, 255, 0.795);
    }
}

img{
    height: 400px;
    width: 100%;
}

.characterDetails{
    background: lightblue;
    margin: 20px;
    border: 2px solid black;
    width: 20%;
    white-space: pre-wrap;
}

label{
    color:red;
    margin: 2px;
    font-size: x-large;
    text-decoration: underline;
}

.details{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}
